form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 17px;
  margin-top: 28px;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  caret-color: #a445ed;
  flex-grow: 1;
}

input::placeholder {
  color: rgba(45, 45, 45, 0.252);
}
